# Bytes
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (HUGE - MUST IGNORE)
venv/
venv_gpu/
env/
.env

# Datasets and Models (LARGE FILES)
data/
dataset/
models/
*.h5
*.keras
*.zip
*.tar.gz

# Temporary artifacts & Reports
temp_*/
*.wav
*.mp3
*.flac
debug_samples/
output/
backups/
cudnn/
*.pdf
logs/
metrics/

# IDE settings
.vscode/
.idea/
*.ipynb_checkpoints/
