# Deep Learning Framework
tensorflow>=2.10.0
scipy>=1.10.0

# Audio Processing
librosa>=0.10.0
soundfile>=0.12.1
noisereduce>=2.0.0
resemblyzer>=0.1.4

# Visualization
matplotlib>=3.7.0
seaborn>=0.12.0
tf-keras-vis>=0.8.0

# Web Application (Streamlit)
streamlit>=1.32.0
audio-recorder-streamlit>=0.0.8

# Utilities
numpy>=1.23.5
requests>=2.31.0
# protobuf<3.20  <-- REMOVED to allow TF 2.x compatibility
tqdm>=4.65.0
scikit-learn>=1.2.2

# Reporting
reportlab>=4.0.0
Pillow>=10.0.0

# Jupyter
notebook
ipykernel

# Interactive Visualization
plotly>=5.15.0
